@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap%27");
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#002642, #e5dada);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
}
.dash-container {
  display: flex;
}
h2 {
  text-align: center;
  margin: 20px;
  color: #002642;
}
nav {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #e5dada;
  width: 30%;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

a {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 19px;
  display: table;
  width: 280px;
  padding: 10px;
}

nav .material-symbols-outlined {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 19px;
  text-align: center;
}
.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
  color: #02040f;
}
.nav-item:hover {
  color: #840032;
}
a:hover {
  color: #840032;
}

/* DISPLAY AREA */

.main-container {
  position: relative;
  padding: 20px;
  width: 90%;
}

#sample-card {
  max-width: 350px;
  height: auto;
  margin: 10px;
  background: #e5dada;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

#card-title {
  text-align: center;
  border-bottom: solid 1px #02040f;
}

#card-title {
  text-align: center;
  border-bottom: solid 1px #02040f;
}
#card-date {
  font-weight: 300;
  color: #840032;
}

.card h3 {
  margin: 10px;
  text-transform: capitalize;
}
.card p {
  font-size: 20px;
  display: flex;
  padding: 3px;
  flex-direction: column;
}
.claim {
  background: #840032;
  color: whitesmoke;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.5s;
}
.claim:hover {
  background: #002642;
}
.cancel {
  background: #840032;
  color: whitesmoke;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.5s;
}
.cancel:hover {
  background: #002642;
}

.deleteAvailable {
  background: #840032;
  color: whitesmoke;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.5s;
}
.deleteAvailable:hover {
  background: #002642;
}

li {
  padding: 12px 0;
}
li button {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 19px;
  display: table;
  background: #e5dada;
}

li button:hover {
  color: #840032;
  cursor: pointer;
}
#sign-out-btn:hover {
  width: 98%;
}
#something {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 350px));
  grid-gap: 20px;
  padding: 20px;
}

button {
  padding: 5px;
  margin: 5px;
}

/* SETTINGS STUFF */

.login-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: auto;
  display: flex;
  background: #e5dada;
  box-shadow: 0 0 5px #999999;
  border-radius: 20px;
}
.userTitle {
  font-size: 50px;
  margin: 15px;
  color: #e5dada;
}

.login-container label {
  border: none;
}
#change-email {
  width: 50%;
  border-radius: 15px;
  transition: 0.5s;
}
#change-password {
  width: 50%;
  border-radius: 15px;
  transition: 0.5s;
}
#change-instrument {
  width: 50%;
  border-radius: 15px;
  transition: 0.5s;
}
#change-instructor {
  width: 50%;
  border-radius: 15px;
  transition: 0.5s;
}
#change-instructor:hover {
  background: #840032;
  color: #e5dada;
}
#change-email:hover {
  background: #840032;
  color: #e5dada;
}
#change-password:hover {
  background: #840032;
  color: #e5dada;
}
#change-instrument:hover {
  background: #840032;
  color: #e5dada;
}
.studentSettings-container {
  background-size: cover;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 15px;
  width: 100%;
  max-width: 1140px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  overflow: scroll;
}
.signIn-col-left,
.signIn-col-right {
  padding: 30px;
  display: flex;
}
.signIn-col-left {
  width: 60%;
  clip-path: polygon(0 0, 0% 200%, 100% 0);
  background: linear-gradient(#840032, #e5dada);
  border-radius: 20px 20px 0px 0px;
}
.signIn-col-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 30px;
  width: 50%;
  margin-left: -10px;
}
h5 {
  font-weight: 300;
  margin: 10px;
}

.login-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  position: relative;
  width: 100%;
  color: whitesmoke;
}

.login-text h2 {
  margin: 0 0 15px 0;
  font-size: 33px;
  font-weight: 300;
}

.login-form {
  /* position: relative; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form h2 {
  margin: 0 0 15px 0;
  font-size: 30px;
  font-weight: 300;
  color: #02040f;
}
.login-form label {
  margin: 20px;
  width: 100%;
  /* margin: 10px 10px 10px 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: #666666;
  font-size: 18px;
}
.login-form input {
  margin: 10px 10px 10px 0;
  text-align: left;
  color: #666666;
  font-size: 15px;
  display: block;
  width: 100%;
  height: 35px;
  outline: none;
  border: 1px solid whitesmoke;
  border-radius: 30px;
}
.login-form select {
  margin: 10px 0;
  display: block;
  width: 100%;
  height: 35px;
  padding: 0 10px;
  outline: none;
  border: 1px solid whitesmoke;
  border-radius: 30px;
}

.login-form input:focus {
  border-color: #002642;
}
#delete-account {
  width: 50%;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #002642;
  background: transparent;
  border-radius: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  border: 1px solid #002642;
  box-shadow: inset 0 0 0 0 #002642;
  transition: 0.5s;
}

#delete-account:hover {
  color: whitesmoke;
  box-shadow: inset 250px 0 0 0 #002642;
}
.main-container h1 {
  color: #e5dada;
  font-weight: 300;
  text-align: center;
}
@media (max-height: 1160px) {
  .userTitle {
    font-weight: 300;
    font-size: 30px;
    margin: 20px;
  }

  .login-container {
    flex-direction: column;
    box-shadow: none;
  }

  .signIn-col-left,
  .signIn-col-right {
    width: 100%;
    margin: 0;
    clip-path: none;
    padding: 10px;
  }
  .signIn-col-left {
    background: #840032;
  }
  .signIn-col-right h2 {
    display: none;
  }
  .login-form input {
    margin: 5px 10px;
    height: 25px;
  }
}
@media (max-width: 902px) {
  a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 15px;
    display: table;
    width: 280px;
    padding: 10px;
  }
  li button {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 15px;
    display: table;
    background: #e5dada;
  }
  .studentSettings-container {
    justify-content: initial;
    border-radius: 20px;
  }
  .login-container {
    flex-direction: column;
    box-shadow: none;
  }
  .signIn-col-left,
  .signIn-col-right {
    width: 100%;
    margin: 0;
    clip-path: none;
  }
  .signIn-col-right {
    padding: 30px;
    padding-bottom: 10px;
    background: #e5dada;
    border-radius: 0px 0px 20px 20px;
  }
}

@media (max-width: 782px) {
  a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 12px;
    display: table;
    width: 280px;
    padding: 10px;
  }
  li button {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 12px;
    display: table;
    background: #e5dada;
  }
  .signIn-col-right {
    padding: 30px;
    padding-bottom: 10px;
    background: #e5dada;
    border-radius: 0px 0px 20px 20px;
  }
  h2 {
    display: none;
  }
  nav {
    background: transparent;
    width: 100px;
    transition: 0.5s;
  }
  .nav-item {
    display: none;
    transition: 0.5s;
  }
  li button {
    background: transparent;
    transition: 0.5s;
  }
  span {
    color: #e5dada;
  }
  #modal-title {
    font-size: 15px;
  }
}
